<p id="notice"><%= notice %></p>

<h1>うんこさせろ</h1>

<table>
  <thead>
    <tr>
      <th>ドア</th>
      <th>電圧</th>
    </tr>
  </thead>

  <tbody>
    <% @sensors.each do |sensor| %>
      <tr>
        <td>
          <% if sensor.opened %>
              <%= image_tag 'open.bmp' %>
          <% else %>
              <%= image_tag 'close.bmp' %>
          <% end %>
        </td>
        <td><%= sensor.voltage %></td>
      </tr>
    <% end %>
  </tbody>
</table>
