<p id="notice"><%= notice %></p>

<h1>Sensors</h1>

<table>
  <thead>
    <tr>
      <th>opened</th>
      <th>voltage</th>
    </tr>
  </thead>

  <tbody>
    <% @sensors.each do |sensor| %>
      <tr>
        <td><%= sensor.opened %></td>
        <td><%= sensor.voltage %></td>
      </tr>
    <% end %>
  </tbody>
</table>
