<p id="notice"><%= notice %></p>

<p>
  <strong>Rails env=development:</strong>
  <%= @sensor.RAILS_ENV=development %>
</p>

<%= link_to 'Edit', edit_sensor_path(@sensor) %> |
<%= link_to 'Back', sensors_path %>
